table {
  width:100%;
}
tbody {
  tr {
    background-color:rgba(0, 0, 0, 0.4);
  }
  tr:nth-child(even) {
    background-color:rgba(0, 0, 0, 0.2);
  }
  tr.selected {
    background-color:rgba(3, 90, 3, 0.8);
  } 
}
