<!DOCTYPE html>
<html data-ng-app="dappChess">
  <head>
    <title>on chain chess</title>
    <link type="text/css" rel="stylesheet" href="bundles/styles.css">
  </head>
  <body>
    <header class="dapp-header">
      <div class="background"></div>
      <div class="dapp-title">on chain chess</div>
    </header>

    <div class="dapp-flex-content">

      <!-- aside -->
      <aside class="dapp-aside">
        <nav data-ng-controller="NavigationCtrl">
          <ul>
            <li>
              <a href="#/initializeGame" data-ng-class="{
                    active: isActivePage('initializeGame')
                  }">
                <i class="icon-plus"></i>
                <span>Start a new game</span>
              </a>
            </li>
            <li>
              <a href="#/joinGame" data-ng-class="{
                    active: isActivePage('joinGame')
                  }">
                <i class="icon-login"></i>
                <span>Join a new game</span>
              </a>
            </li>

            <li data-ng-repeat="game in games| ownGames">
              <a href="#" data-ng-href="#/playGame/{{game.gameid}}" data-ng-class="{
                    active: isActiveGame(game)
                  }">
                <span>{{game.opponent.username|| "Open game"}}</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

      <!-- content-->
      <main class="dapp-content">
        <div id="messages" data-ng-controller="MessagesCtrl">
          <div class="messageContainer" data-ng-repeat="message in messages">
            <div class="message" data-ng-class="message.type + ' animate-repeat'">
              {{message.message}}
            </div>
          </div>
        </div>
        <div id="view" data-ng-view></div>
      </main>

      <!-- actionbar -->
      <aside class="dapp-actionbar" data-ng-show="isActivePage('playGame')">

      </aside>

    </div>

    <!-- footer -->
    <!--<footer class="dapp-footer">

    </footer>-->

    <!--
    For production use
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.min.js"></script>
    -->
    <script type="text/javascript" src="../app/javascript/angular.js"></script>
    <script type="text/javascript" src="../app/javascript/angular-route.js"></script>
    <script type="text/javascript" src="../app/javascript/angular-animate.js"></script>
    <script type="text/javascript" src="bundles/main.js"></script>
  </body>
</html>
