<!DOCTYPE html>
<html data-ng-app="dappChess">
  <head>
    <title>on chain chess</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.1/css/simple-line-icons.css">
    <link type="text/css" rel="stylesheet" href="bundles/styles.css">
  </head>
  <body data-ng-controller="NavigationCtrl" data-ng-class="{
      metapage:
        navigation.isActivePage(navigation.welcomePage) ||
        navigation.isActivePage(navigation.initializeGamePage) ||
        navigation.isActivePage(navigation.joinGamePage)
  }">
    <div class="bg-overlay"></div>
    <header data-ng-show="!isMist">
      <nav>
        <ul>
          <li>
            <a href="#/initializeGame" data-ng-class="{
                  active: navigation.isActivePage(navigation.initializeGamePage)
                }">
              <i class="icon-plus"></i>
              <span>Start a new game</span>
            </a>
          </li>
          <li>
            <a href="#/joinGame" data-ng-class="{
                  active: navigation.isActivePage(navigation.joinGamePage)
                }">
              <i class="icon-login"></i>
              <span>Join game</span>
            </a>
          </li>
          <li data-ng-repeat="game in games| ownGames">
            <a href="#" data-ng-href="#/{{navigation.playGamePage}}/{{game.gameId}}" data-ng-class="{
                  active: navigation.isActiveGame(game)
                }">
              <span>{{game.opponent.username|| "Open game"}}</span>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- content-->
    <main>
      <div id="messages" data-ng-controller="MessagesCtrl">
        <div class="messageContainer" data-ng-repeat="message in messages">
          <div class="message" data-ng-class="message.type + ' animate-repeat'">
            {{message.message}}
          </div>
        </div>
      </div>
      <div id="view" data-ng-view></div>
    </main>

    <!-- For production use -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/chessboard.min.js"></script>

    <!-- For local tests only -->
    <!--
    <script type="text/javascript" src="../app/javascript/lib/angular.js"></script>
    <script type="text/javascript" src="../app/javascript/lib/angular-route.js"></script>
    <script type="text/javascript" src="../app/javascript/lib/angular-animate.js"></script>
    <script type="text/javascript" src="../app/javascript/lib/chess.js"></script>
    <script type="text/javascript" src="../app/javascript/lib/jquery.js"></script>
    -->

    <script type="text/javascript" src="bundles/main.js"></script>
  </body>
</html>
