<div class="container space-top">
  <h1>Start new chess game</h1>
</div>
<div class="container">
  <div class="four columns">
    <form name="form" novalidate data-ng-submit="initializeGame(form)">
      <label>Account to use</label>
      <select name="selectedAccount" data-ng-model="selectedAccount" required>
        <option value="">Select account</option>
        <option data-ng-repeat="account in availableAccounts" data-ng-value="account">Account {{$index}}</option>
      </select>
      <!-- Does not work in the current version of Mist / only creates new accounts, although it should select or create an account -->
      <!--<button data-ng-click="selectOrCreateAccount()">Create new account</button>
      <input name="selectedAccount" type="hidden" data-ng-model="selectedAccount" required />-->

      <div data-ng-show="form.$submitted || form.selectedAccount.$touched">
        <div class="error" data-ng-show="form.selectedAccount.$error.required">Please select an account.</div>
      </div>

      <span data-ng-show="selectedAccount">Balance: {{getBalance(selectedAccount)}}</span>

      <label for="etherbet">Bet (in ether)</label>
      <input id="etherbet" type="text" name="etherbet" data-ng-model="etherbet" required>
      <div data-ng-show="form.$submitted || form.etherbet.$touched">
        <div class="error" data-ng-show="form.etherbet.$error.required">Please enter your ether bet.</div>
      </div>

      <label for="username">Username</label>
      <input id="username" type="text" name="username" data-ng-model="username" required>
      <div data-ng-show="form.$submitted || form.username.$touched">
        <div class="error" data-ng-show="form.username.$error.required">Please enter a username.</div>
      </div>

      <label for="startcolor">Start color</label>
      <select id="startcolor" name="startcolor" data-ng-model="startcolor" required>
        <option value="white" selected>White</option>
        <option value="black">Black</option>
      </select>
      <div data-ng-show="form.$submitted || form.startcolor.$touched">
        <div class="error" data-ng-show="form.startcolor.$error.required">Please select a start color.</div>
      </div>

      <input type="submit" value="Start game" />
    </form>
  </div>
  <div class="eight columns">
    <p><strong>Start off with a new chess game by following these simple steps:</strong></p>
    <ul>
      <li>Select the account to use, enter your username and select the start color to start a game</li>
      <li>Your game is being created in the blockchain. Once your game is ready,
        it will appear as &quot;Open game&quot; in the navigation</li>
      <li>Invite friends to join your game by sending the game id to them.
        You can find the game ID on the games page.</li>
      <li>Once another player has joined, the game begins.
        You will also receive a notification about this.</li>
    </ul>
  </div>
</div>
