<h1>Start new chess game</h1>
<div class="row clear">
  <div class="col col-4 mobile-full">
    <ul class="dapp-account-list">
      <li data-ng-repeat="account in availableAccounts">
        <button data-ng-class="{
              selected: isSelectedAccount(account)
            }" data-ng-click="selectAccount(account)">
          <a class="dapp-identicon dapp-small"></a>
          <h3>Account {{$index}}</h3>
          <span>{{account}}</span>
          <figure class="icon-check" data-ng-show="isSelectedAccount(account)"></figure>
        </button>
      </li>
    </ul>
    <label>Account for betting</label>

    <input id="username" type="text" name="username" data-ng-model="username">
    <label for="username">Username</label>

    <select id="startcolor" name="startcolor" data-ng-model="startcolor">
      <option value="white">White</option>
      <option value="black">Black</option>
    </select>
    <label for="startcolor">Start color</label>
    <input type="submit" value="Start game" data-ng-click="initializeGame()" />
  </div>
  <div class="col col-8 mobile-full">
    Insert image here
    <p>Bla bla bla</p>
  </div>
</div>
