<div class="container space-top">
  <h1>Start new chess game</h1>
</div>
<div class="container">
  <div class="four columns">
    <form name="form" novalidate data-ng-submit="initializeGame(form)">
      <input name="selectedAccount" type="hidden" data-ng-model="accounts.selectedAccount" required />
      <button data-ng-click="accounts.selectOrCreateAccount($event)" class="small">Select account</button>
      <div
        class="selectedAccount"
        data-ng-show="accounts.selectedAccount"
        data-ng-style="accounts.getBlockie(accounts.selectedAccount)">
        {{accounts.selectedAccountName}}
      </div>

      <div data-ng-show="form.$submitted || form.selectedAccount.$touched">
        <div class="error" data-ng-show="form.selectedAccount.$error.required">Please select an account.</div>
      </div>

      <span data-ng-show="accounts.selectedAccount">Balance: {{accounts.getBalance(accounts.selectedAccount)}}</span><br>
      <span data-ng-show="accounts.selectedAccount">Elo Score: {{accounts.getEloScore(accounts.selectedAccount)}}</span>

      <label for="etherbet">Bet (in ether)</label>
      <input id="etherbet" type="number" name="etherbet" data-ng-model="etherbet" required>
      <div data-ng-show="form.$submitted || form.etherbet.$touched">
        <div class="error" data-ng-show="form.etherbet.$error.required">Please enter your ether bet.</div>
      </div>

      <label for="username">Username</label>
      <input id="username" type="text" name="username" data-ng-model="username" required>
      <div data-ng-show="form.$submitted || form.username.$touched">
        <div class="error" data-ng-show="form.username.$error.required">Please enter a username.</div>
      </div>

      <label for="turntime">Turntime (in minutes)</label>
      <input id="turntime" type="number" min="5" step="1" pattern="\d+" name="turntime" data-ng-model="turntime" required>
      <div data-ng-show="form.$submitted || form.turntime.$touched">
        <div class="error" data-ng-show="form.turntime.$error.required">Please enter a turn time.</div>
        <div class="error" data-ng-hide="form.turntime.$error.required || form.turntime.$valid">Please enter a valid turn time (minimum 5).</div>
      </div>

      <label for="startcolor">Start color</label>
      <select id="startcolor" name="startcolor" data-ng-model="startcolor" required>
        <option value="white" selected>White</option>
        <option value="black">Black</option>
      </select>
      <div data-ng-show="form.$submitted || form.startcolor.$touched">
        <div class="error" data-ng-show="form.startcolor.$error.required">Please select a start color.</div>
      </div>

      <input type="submit" value="Start game" />
    </form>
  </div>
  <div class="eight columns">
    <p><strong>Start off with a new chess game by following these simple steps:</strong></p>
    <ul>
      <li>Select the account to use, enter your username and select the start color to start a game</li>
      <li>You can bet ether. If you do, it is substracted from your account immediatly. </li>
       <li>Your opponent has to match the bet. The winner gets the pot. In case of a draw the pot is split. </li>
      <li>Your game is being created in the blockchain. Once your game is ready,
        it will appear as &quot;Open game&quot; in the navigation</li>
      <li>Friends and other players will see your game in the join game page and can join it directly.</li>
      <li>Once another player has joined, the game begins.
        You will also receive a notification about this.</li>
    </ul>
  </div>
</div>
