<div class="container space-top">
  <h1>Join a chess game</h1>
</div>
<div class="container">
  <div class="four columns">
    <form name="form" novalidate data-ng-submit="joinGame(form)">
      <input name="selectedAccount" type="hidden" data-ng-model="accounts.selectedAccount" required />
      <button data-ng-click="accounts.selectOrCreateAccount($event)" class="small">Select account</button>
      <div
        class="selectedAccount"
        data-ng-show="accounts.selectedAccount"
        data-ng-style="accounts.getBlockie(accounts.selectedAccount)">
        {{accounts.selectedAccountName}}
      </div>

      <div data-ng-show="form.$submitted || form.selectedAccount.$touched">
        <div class="error" data-ng-show="form.selectedAccount.$error.required">Please select an account.</div>
      </div>

      <span data-ng-show="accounts.selectedAccount">Balance: {{accounts.getBalance(accounts.selectedAccount)}}</span><br>
      <span data-ng-show="accounts.selectedAccount">Elo Score: {{accounts.getEloScore(accounts.selectedAccount)}}</span>

      <label for="username">Username</label>
      <input id="username" type="text" name="username" data-ng-model="username" required>
      <div data-ng-show="form.$submitted || form.username.$touched">
        <div class="error" data-ng-show="form.username.$error.required">Please enter a username.</div>
      </div>

      <input name="gameId" type="hidden" data-ng-model="gameId" required />
      <div data-ng-show="form.$submitted || form.gameId.$touched">
        <div class="error" data-ng-show="form.gameId.$error.required">Please select a game.</div>
      </div>

      <input type="submit" value="Join game" />
    </form>
  </div>
  <div class="eight columns">
    <table class="zebra">
      <thead>
        <tr>
          <th>Opponent</th>
          <th>Color</th>
          <th>Turntime (minutes)</th>
          <th>Bet (ether)</th>
          <th>Elo Score</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="game in games | othersOpenGames:openGames"
            data-ng-class="{selected: isSelectedGame(game)}">
          <td>{{game.self.username}}</td>
          <td>{{game.self.color}}</td>
          <td>{{game.turnTime}}</td>
          <td>{{game.pot}}</td>
          <td>{{accounts.getEloScore(game.self.accountId)}}</td>
          <td><a href="#" data-ng-click="setSelectedGame($event, game)">Select</a></td>
        </tr><!-- | orderBy:predicate:reverse-->
      </tbody>
    </table>
    <p><strong>Join a running chess game by following these simple steps:</strong></p>
    <ul>
      <li>Select the account to use, enter your username and select the start color</li>
      <li>Choose a game from the list to start the game</li>
      <li>Your request is being submitted to the blockchain. When the join was successful,
        the game will appear with the opponents username in the nav bar.</li>
      <li>Start playing by selecting the game</li>
    </ul>
  </div>
</div>
