<div class="container space-top">
  <h1>Play Game</h1>
</div>
<div class="container" data-ng-show="isOpenGame()">
  <div class="eight columns">
    <p>Your game has started, but no opponent has joined the game yet.</p>
    <p>You can tell a friend to directly join the game with the game id<br>
      <strong>{{getGameId()}}</strong></p>
    <p>Account ID used for this game: {{getGame().self.accountId}}<br>
      Start color: {{getGame().self.color}}</p>
  </div>
  <div class="four columns">
    <button data-ng-click="closeGame()">Close game</button>
  </div>
</div>
<div class="container" data-ng-show="!isOpenGame()">
  <div class="eight columns">
    <p data-ng-show="gameIsActive()">
      You are in an ongoing chess game, the pot is at {{getGame().value}}.
    </p>
    <p data-ng-show="gameIsWon()">
      You have won this game. The pot of {{getGame().value}} is being transferred to you.
    </p>
    <p data-ng-show="gameIsLost()">
      You have lost this game. The pot of {{getGame().value}} is transferred to your opponent.
    </p>
    <!--<p>Game data:</p>
    <ul>
      <li>Your account ID: {{getGame().self.accountId}}</li>
      <li>Your color: {{getGame().self.color}}</li>
      <li>Your username: {{getGame().self.username}}</li>
      <li>Opponents account ID: {{getGame().opponent.accountId}}</li>
      <li>Opponents color: {{getGame().opponent.color}}</li>
      <li>Opponents username: {{getGame().opponent.username}}</li>
    </ul>-->

    <div id="my-board" style="width:100%"></div>

  </div>
  <div class="four columns">
    <button data-ng-click="surrender()" data-ng-show="gameIsActive()">Surrender</button>
    <button data-ng-click="closeGame()" data-ng-show="!gameIsActive()">Close</button>
    <div class="game-log">
      <p>{{gameStatus}}</p>
      <p>{{gamePgn}}</p>
    </div>
  </div>
</div>
