<div class="container space-top">
  <h1>Play Game</h1>
</div>
<div class="container" data-ng-show="isOpenGame()">
  <div class="eight columns">
    <p>Your game has started, but no opponent has joined the game yet.</p>
    <p>Account ID used for this game: {{getGame().self.accountId}}<br>
      Start color: {{getGame().self.color}}<br>
      Ether bet: {{getGame().pot}}</p>
  </div>
  <div class="four columns">
    <button data-ng-click="closeGame()">Close game</button>
  </div>
</div>
<div class="container" data-ng-show="!isOpenGame()">
  <div class="eight columns">
    <p data-ng-show="gameIsActive()">
      You are in an ongoing chess game, the pot is at {{game.pot}}.
    </p>
    <p data-ng-show="gameIsWon()">
      You have won this game.
      <span data-ng-show="getGame().pot > 0">The pot of {{getGame().pot}} is being transferred to you.</span>
      <span data-ng-hide="getGame().pot > 0">The pot was transferred to you.</span>
    </p>
    <p data-ng-show="gameIsLost()">
      You have lost this game.
      <span data-ng-show="getGame().pot > 0">The pot of {{getGame().pot}} is transferred to your opponent.</span>
      <span data-ng-hide="getGame().pot > 0">The pot was transferred to your opponent.</span>
    </p>
    <p data-ng-show="gameIsDraw()">
      The game has been declared a draw.
      <span data-ng-show="getGame().self.wonEther > 0">Your bet {{getGame().self.wonEther}} is transferred back to you.</span>
      <span data-ng-hide="getGame().self.wonEther > 0">Your bet was transferred back to you.</span>
    </p>
    <!--<p>Game data:</p>
    <ul>
      <li>Your account ID: {{getGame().self.accountId}}</li>
      <li>Your color: {{getGame().self.color}}</li>
      <li>Your username: {{getGame().self.username}}</li>
      <li>Opponents account ID: {{getGame().opponent.accountId}}</li>
      <li>Opponents color: {{getGame().opponent.color}}</li>
      <li>Opponents username: {{getGame().opponent.username}}</li>
    </ul>-->

    <div id="board-{{game.gameId}}" style="width:100%"></div>

  </div>
  <div class="four columns">
    <button data-ng-click="claimWin()" data-ng-show="gameCanClaimWin()">Claim Win</button>
    <button data-ng-click="offerDraw()" data-ng-show="gameCanOfferDraw()">Offer Draw</button>
    <button data-ng-click="claimTimeout()" data-ng-show="gameCanClaimTimeout()">Claim Timeout</button>
    <button data-ng-click="confirmGameEnded()" data-ng-show="gameCanConfirmLoose()">Accept Loose</button>
    <button data-ng-click="confirmGameEnded()" data-ng-show="gameCanConfirmDraw()">Accept Draw</button>
    <button data-ng-click="claimTimeoutEnded()" data-ng-show="gameCanClaimTimeoutEnded()">Claim Timeout Ended</button>
    <!--data-ng-class="{-->
    <!--metapage:-->
    <!--navigation.isActivePage(navigation.welcomePage) ||-->
    <!--navigation.isActivePage(navigation.initializeGamePage) ||-->
    <!--navigation.isActivePage(navigation.joinGamePage)-->
    <!--}"-->
    <button data-ng-click="surrender()" data-ng-show="gameIsActive()">Surrender</button>
    <button data-ng-click="closeGame()" data-ng-show="!gameIsActive()">Close</button>
    <button data-ng-click="claimEther()" data-ng-show="gameHasClaimableEther()">Claim ether</button>
    <div class="game-log">
      <p>{{gameStatus}} <span countdown="game.currentTimeout"></span></p>
      <p>{{gamePgn}}</p>
    </div>
  </div>
</div>
