<div class="container space-top">
  <h1>Play reliable chess</h1>
  <p>With on-chain-chess, you can play a game of chess on the Ethereum blockchain. This means that all moves will be verified independently and publicly documented to make cheating impossible. </p>
  <div>
    <button data-ng-click="navigation.goto(navigation.initializeGamePage)" class="one-half column">Start new game</button>
    <button data-ng-click="navigation.goto(navigation.joinGamePage)" class="one-half column">Join game</button>
  </div>
</div>
